.chefCard-heading{
    color: #22e03e;
    font-weight: bold;
    
}
.exp-rec{
    display: flex;
    justify-content: space-around;
}
.chef-name{
    text-align: center;
    padding-top: 10px;
    color: #22e03e;
}
.body{
    position: relative;
}
.like{
    position: absolute;
    top: 20px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    background-color: #22e03e;
    color: white;
    font-weight: 600;
    padding: 5px;
    border-radius: 50px;
}
.view-details-btn{
    background: transparent;
    color: #22e03e;
    border: 2px solid #22e03e;
    padding: 2px 10px;
    text-decoration: none;
   }
   .view-details-btn:hover{
    background-color: #22e03e;
    color: white;
    
   }
   .card-shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }