.registration-form-background {
    background-image: url('https://i.ibb.co/Pz5PjHg/banner-2.jpg');
    background-size: cover;
    background-position: center;
    
    
  }
  
  .registration-form {
    padding: 50px 0;
    width: 50%;
    margin: 0 auto;
    
  }
  .register-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    border-radius: 20px;

  }
  .register-heading{
    text-align: center;
  }
  .googleGithub{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .error-message{
    text-align: center;
    color: red;
  }

  @media (max-width: 768px) {
    .registration-form {
        width: 100%;
        
      }
  }  
  