

/* CSS */
.btn {
  background: transparent;
    color: #22e03e;
    border: 2px solid #22e03e;
    padding: 2px 10px;
    text-decoration: none;
}

.btn:active {
  border-color: #4a4a4a;
  outline: 0;
}

.btn:focus {
  border-color: #485fc7;
  outline: 0;
}

.btn:hover {
  border-color: #b5b5b5;
}

.btn:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}


.bg-image {
  background-image: url('https://i.ibb.co/Pz5PjHg/banner-2.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
}


.recipes{
  text-align: center;
  margin: 50px 0;
  color: #34BF49;
  font-weight: bold;
}




.content {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
}

.images {
  flex: 1;
}
.images h5{
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.card-main-container{
  position: relative;
}
.rating{
  position: absolute;
  top: 20px;
  right: 20px;
  color: #F7C000;
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }
  .bg-image{
    height: 100vh;
  }

  .text,
  .images {
    flex: none;
  }
  .text{
    height: 350px;
  }

  .images {
    margin-top: 20px;
  }

}